@import "reset";
@import "variables/globals";
@import "themes/normal";
@import "themes/dark";
@import "themes/blue";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font: var(--font-m);

  color: var(--primary-color);


}

.app {
  background: var(--bg-color);
  min-height: 100vh;

}

.contentPage {
  display: flex;
}