.notFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: var(--font-l);
  height: 100%;
  margin-left: 50%;
  /* stylelint-disable-next-line no-missing-end-of-source-newline */
}