.wrapper {
  display: flex;
  flex-direction: row;
}

.placeholder {
  margin-right: 5px;
}

.input {
  border: none;
  padding-left: 3px;
  outline: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}