.app_blue_theme {
  --bg-color: #d7d7ee;
  --primary-color: rgb(0, 89, 244);
  --secondary-color: rgb(0, 20, 118);
  --inverted-bg-color: #d9f3f6;
  --inverted-primary-color: rgb(0, 149, 166);
  --inverted-secondary-color: rgb(0, 99, 117);
}