:root {
  --bg-color: #c3c3d0;
  --primary-color: rgb(200 159 123);
  --secondary-color: rgb(237 176 10);
  --inverted-bg-color: #6e6e7d;
  --inverted-primary-color: rgb(186 64 252);
  --inverted-secondary-color: rgb(84 3 128);
}
